<div class="s-links">
    <ul>
        <li>
            <a href="{{linkTrailer}}"
                class="link-button" target="_blank">
                <span class="icon"><div class="play-icon">&nbsp;</div></span>
                <span class="label">Ver Trailer</span>
            </a>
        </li>
    </ul>
</div>