<div class="s-description">
    <div class="pills">
        <ul>
            <li>Año: {{year}}</li>
            <li>director: {{director}}</li>
        </ul>
    </div>
    <div class="s-description__text">
        <p>
            <strong>Sinopsis:</strong>&nbsp; 
            {{resumen}}
        </p>
    </div>
</div>