<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/error.css">
    </head>
    <body>
        <nav class="s-menu">
            <ul>
                <li class="s-menu__item">
                    <a href="/">Pagina Inicial</a>
                </li>
                <li class="s-menu__item">
                    <a href="tobey-maguire">Tobey Maguire</a>
                </li>
                <li class="s-menu__item s-menu__icon">
                    <img src="/images/icons/spider.svg" alt="">
                </li>
                <li class="s-menu__item">
                    <a href="tom-holland">Tom Holland</a>
                </li>
                <li class="s-menu__item">
                    <a href="andrew-garfield">Andrew Garfield</a>
                </li>
            </ul>
        </nav>
        <div class="s-container-404">
            <div class="s-404">
                <h3>Seguimos trabajando en este Multiverso</h3>
                <h2>Quieres volver al <a href="/">Inicio</a>?</h2>
            </div>
        </div>
    </body>
</html>
