{{> header title="Spiderman | Multiverse"}}
<nav class="s-menu">
    <ul>
      <li class="s-menu__item">
        <a href="/">Pagina Inicial</a>
      </li>
      <li class="s-menu__item">
        <a href="tobey-maguire">Tobey Maguire</a>
      </li>
      <li class="s-menu__item s-menu__icon">
        <img src="/images/icons/spider.svg" alt="">
      </li>
      <li class="s-menu__item">
        <a href="tom-holland">Tom Holland</a>
      </li>
      <li class="s-menu__item">
        <a href="andrew-garfield">Andrew Garfield</a>
      </li>
    </ul>
</nav>

<div class="s-container">
    <a href="tobey-maguire" class="s-card" id="spider-man-01">
        <img class="s-card__background" src="/images/pic-sm-bg-01.jpg" alt="">
        <img class="s-card__image" src="/images/spider-man-01.png" alt="">
        <h2 class="s-card__title">Tobey Maguire</h2>
    </a>
    <a href="tom-holland" class="s-card" id="spider-man-02">
        <img class="s-card__background" src="/images/pic-sm-bg-02.jpg" alt="">
        <img class="s-card__image" src="/images/spider-man-02.png" alt="">
        <h2 class="s-card__title">Tom Holland</h2>
    </a>
    <a href="andrew-garfield" class="s-card" id="spider-man-03">
        <img class="s-card__background" src="/images/pic-sm-bg-03.jpg" alt="">
        <img class="s-card__image" src="/images/spider-man-03.png" alt="">
        <h2 class="s-card__title">Andrew Garfield</h2>
    </a>
</div>
  <div class="s-controller">
    <div class="s-controller__button s-controller__button--active">01</div>
    <div class="s-controller__button">02</div>
    <div class="s-controller__button">03</div>
    <div class="s-controller__line"></div>
  </div>
{{> footer}}